<form action="/users/<%= user.get("id") %>" method="POST" id="userForm" data-remote="true">
	<div id="myModal" 
		   class="modal hide fade" 
			 tabindex="-1" 
			 role="dialog" 
			 aria-labelledby="myModalLabel" 
			 aria-hidden="true">
	  <div class="modal-header">
	    <button type="button" 
							class="close" 
							data-dismiss="modal" 
							aria-hidden="true">×</button>
							
	    <h3 id="myModalLabel">I am.</h3>
	  </div>
	  <div class="modal-body">
	    <label for="Name">Name</label>
			<input type="text" 
						 name="user[name]" 
						 value="<%= user.escape("name") %>" 
						 id="Name">
						 
	    <label for="Email">Email</label>
			<input type="email" 
						 name="user[email]" 
						 value="<%= user.escape("email") %>" 
						 id="Email">
						 
	    <h4 id="myModalLabel">I...</h4>
			
			<fieldset id="things">
				<% user.get("facts").each(function(fact) { %>
					<% var seed = fact.escape("id"); %>
					<div id="fact_<%= seed %>">
						<input type="hidden" 
						       name="user[facts_attributes][<%= seed %>][id]" 
									 value="<%= seed %>">
									 
						<input type="text" 
									 name="user[facts_attributes][<%= seed %>][content]" 
									 value="<%= fact.escape("content") %>">
									 
					  <button type="button" 
			 		         class="btn btn-small btn-danger btnRemoveThing"
									 data-id="<%= seed %>"
									 >-</button>
						<br />
					</div>
				<% }); %>
			</fieldset>	
			<button type="button" 
			        class="btn btn-small btn-success"
							id="btnAddThing">+</button>
	  </div>
	  <div class="modal-footer">
			<input type="hidden" 
						 name="authenticity_token" 
						 value="<%= FatPenguin.token %>" 
						 id="authenticity_token">
						 
 			<input type="hidden" name="_method" value="PUT">
									 			 
	    <button class="btn" 
							data-dismiss="modal" 
							aria-hidden="true">Cancel</button>
							
	    <button class="btn btn-primary" id="btnGo">Go!</button>
	  </div>
	</div>
</form>