<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "FatPenguin" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Fatpenguin" %>">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Chicle|Cantora+One|Emblema+One|Exo:400,900|Candal|Archivo+Black|Gorditas:400,700|Alegreya:400,900' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
		<% unless user_signed_in? %>
			<%= render :partial => 'layouts/splash' %>
		<% else %>
		<div class="penguins">
		<div id="wrap">
	    <div class="navbar navbar-fixed-top transparent">
	      <nav class="navbar-inner">
	        <div class="container">
	          <%= render 'layouts/navigation' %>
	        </div>
	      </nav>
	    </div>
	    <div id="main" role="main">
	      <div class="container">
					<div id="notifications"></div>
	        <div id="content" class="content">
	           <div class="row">
	            <div class="span12">
	              <%= render 'layouts/messages' %>
	              <%= yield %>
	            </div>
	          </div>
	        </div>
	      </div> <!--! end of .container -->
	    </div> <!--! end of #main -->
		</div> <!--! end of #wrap -->
    <footer class="footer">
			<div class="container">
				<hr/>
					Breaking ice since 2013.
			</div>
    </footer>
	</div>
		<% end %>
  </body>
</html>
