<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "FatPenguin" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Fatpenguin" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
		<% unless user_signed_in? %>
		<div id="myCarousel" class="carousel slide stick-top">
		  <ol class="carousel-indicators">
		    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		    <li data-target="#myCarousel" data-slide-to="1"></li>
		    <li data-target="#myCarousel" data-slide-to="2"></li>
		  </ol>
		  <!-- Carousel items -->
		  <div class="carousel-inner">
		    <div class="active item">
					<%= link_to 'Login', signin_path %>
					<%= image_tag "northpole.jpg" %></div>
		    <div class="item"><%= image_tag "wallpaper.jpg" %></div>
		    <div class="item"><%= image_tag "Adelie.jpg" %></div>
		  </div>
		  <!-- Carousel nav -->
		  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>
		<% else %>
		<div id="wrap">
	    <div class="navbar navbar-fixed-top">
	      <nav class="navbar-inner">
	        <div class="container">
	          <%= render 'layouts/navigation' %>
	        </div>
	      </nav>
	    </div>
	    <div id="main" role="main">
	      <div class="container">
					<div id="notifications"></div>
	        <div id="content" class="content">
	           <div class="row">
	            <div class="span12">
	              <%= render 'layouts/messages' %>
	              <%= yield %>
	            </div>
	          </div>
	        </div>
	      </div> <!--! end of .container -->
	    </div> <!--! end of #main -->
		</div> <!--! end of #wrap -->
    <footer class="footer">
			<div class="container">
				<hr/>
					Breaking the ice since 2013
			</div>
    </footer>
		<% end %>
  </body>
</html>
